<div class="input-group input-group-lg">
  <input type="text" class="form-control" ng-model="status.msg" placeholder="Status">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="submit()">Add</button>
  </span>
</div>
<br/>
<div class="alert alert-info" ng-show="statuses.length == 0">
  <p>There are currently no questions, the page will update automatically as new questions come in.</p>
</div>
<table class="table table-hover status-table">
  <tr ng-repeat="status in statuses">
    <td style="width: 100%">{{status.msg}}</td>
  	<td><span class="glyphicon glyphicon-trash" ng-click="delete(status, $index)"></span><td>
   <tr>
</table> 